<div class="container" ng-controller="loginController">
  <!-- Modal Trigger -->
  <a href="#demoModal" modal="" ready="readyCallback" complete="completeCallback" open="openModal"></a>
  <!-- Modal Structure -->
  <div class="row">
    <div id="demoModal" class="modal">
      <form id="loginForm">
        <div class="modal-content center">
          <img class="responsive-img" src="client/assets/images/famoustate-login-img.png" alt="Famous Tate" />
          <h4>Portal Login</h4>
          <label for="name">Username: </label>
          <input type="text" name="name" ng-model="user.username">
          <label for="password">Password: </label>
          <input type="password" name="age" ng-model="user.password">
        </div>
        <div class="modal-footer">
          <button form="loginForm" type="submit" ng-click="login()" class="waves-effect waves-green btn-flat">login</button>
        </div>
      </form>
    </div>
  </div>
  <!-- <div class="row">
    <button ng-click="authenticate('google')">authenticate</button>
  </div> -->
</div>
