  <p>war game</p>
  <!-- <button ng-hide='state' ng-click='handleCreateGame("war")'>Create WAR</button>
  <button ng-hide='state' ng-click='handleJoinGame("war")'>Join WAR</button>
  <button ng-show='state' ng-click='handleStartGame("war")'>Start WAR</button>

<p ng-show="state == 'waiting'">waiting</p>
<p ng-show="state == 'playing'">playing</p>
<p ng-show="state == 'gameOver'">over</p>
<p ng-show="gameId">{{gameId}}</p>
<p ng-show="playersGameId">{{playersGameId}}</p>-->
<button ng-click='handlePlayCard()'>playcard</button>
<div ng-repeat='item in log | reverse'>
    <p ng-bind='item'></p>
</div>
