{% load staticfiles %}

<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/materialize/dist/js/materialize.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>

<script type="text/javascript" src="{% static 'routes/routes.js' %}"></script>

<script type="text/javascript" src="{% static 'factories/usersFactory.js' %}"></script>

<script type="text/javascript" src="{% static 'controllers/loginController.js' %}"></script>
